.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  color: #555555;
  font-family: "optima", "Belleza", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", Verdana, Arial, sans-serif;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.5;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
}
.reveal h1 {
  font-size: 2em;
}
.reveal h2 {
  font-size: 1.6em;
}

.reveal section img {
  border: 0px;
}

.reveal p, .reveal ol, .reveal ul {
  line-height: 1.5;
}

.reveal table {
  margin: auto;
}

.reveal .roll {
  vertical-align: baseline;
}

.blue {
  color: rgb(75,172,198);
}
.yellow {
  color: rgb(247,150,70);
}
.green {
  color: rgb(155,187,89);
}
.red {
  color: rgb(220,80,77);
}
.purple {
  color: purple;
}
.black {
  color: black;
}
.white {
  color: white;
}
.pink {
  color: #FF3399;
}
